:root {
    --header-height: 55px;
    --main-header-bar-height: min(calc(var(--header-height) * 0.7), 40px);
    --logo-width: calc(var(--main-header-bar-height) * (800/536));
    --logo-text-height: min(calc(var(--main-header-bar-height) * 0.5), 16px);
    --logo-text-width: calc(var(--logo-text-height) * (2199 / 133));
    --searchbar-width: min(calc(var(--header-height)*2.2), 140px);
    --menu-button-length: calc(var(--main-header-bar-height) * 0.7);
}


#main-header {  
    position: fixed;
    align-content: center;
    height: var(--header-height);
    width: calc(100vw - 40px);
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

#main-header-bar {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--main-header-bar-height);
}

.main-header-logo  {
    height: var(--main-header-bar-height);
    aspect-ratio: 800/536;
    width: var(--logo-width);
    place-self: center;
}

#searchbar {
    display: block;
    height: 85%;
    background-color: #e20612;
    border-radius: 1000px;
    transition: 0.5s ease-in-out;
}


/* Menu button */
#menu-button {
    display: none;
    align-items: center;
    height: var(--menu-button-length);
    width: var(--menu-button-length);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.menu-button-hamburger {
    justify-self: center;
    width: var(--menu-button-length);
    height: calc(var(--menu-button-length) * 0.16);
    cursor: pointer;
    background-color: black;
    border-radius: 1000px;
    transition: 0.5s ease-in-out;
}

.menu-button-hamburger::before,
.menu-button-hamburger::after {
    content:'';
    position: absolute;
    width: var(--menu-button-length);
    height: calc(var(--menu-button-length) * 0.16);
    cursor: pointer;
    background-color: black;
    border-radius: 1000px;
    transition: 0.5s ease-in-out;
}

.menu-button-hamburger::before {
    transform: translateY(calc(var(--menu-button-length) / -2.5));
}

.menu-button-hamburger::after {
    transform: translateY(calc(var(--menu-button-length) / 2.5));
}

/* Menu Button Aniamation */
.menu-button-open > .menu-button-hamburger {
    transform: translateX(calc(var(--main-header-bar-height) * 0.9));
    cursor: default;
    background: transparent;
    box-shadow: none;
}

.menu-button-open > .menu-button-hamburger::before {
    transform: translateX(calc(var(--main-header-bar-height) * -0.9)) rotate(45deg);
}

.menu-button-open > .menu-button-hamburger::after {
    transform: translateX(calc(var(--main-header-bar-height) * -0.9)) rotate(-45deg);
}



#header-gradient {
    position: fixed;
    top: var(--header-height);
    left: 0px;
    height: 20px;
    width: 100vw;
}




@media (min-width: 780px) {                             /* Width-Size > 780px */

    @media (min-Width: 1050px) {                        /* Width-Size > 1050px */
        #main-header-bar {
            grid-template-columns:   var(--logo-width)   calc(100% - var(--logo-width) - var(--logo-text-width) - var(--searchbar-width) - calc(var(--main-header-bar-height) * 0.4 * 3))   var(--logo-text-width)   var(--searchbar-width);
            gap: calc(var(--main-header-bar-height) * 0.4);
        }

        .main-header-logo-text {
            display: block;
            height: var(--logo-text-height);
            width: var(--logo-text-width);
        }
    }

    @media (max-Width: 1049.98px) {                        /* Width-Size < 1050px */
        #main-header-bar {
            grid-template-columns:   var(--logo-width)   calc(100% - var(--logo-width) - var(--searchbar-width) - calc(var(--main-header-bar-height) * 0.4 * 2))   var(--searchbar-width);
            gap: calc(var(--main-header-bar-height) * 0.4);
        }

        .main-header-logo-text {
        display: none;
        }
    }

    #header-nav-container {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: calc(var(--main-header-bar-height) * 0.4);
        height: 60%;
        padding-left: calc(var(--main-header-bar-height) * 0.5);
    }

    #header-nav-container > a {
        display: inline-flex;
        text-align: center;
        align-items: center;
        text-decoration: none;
        color: black;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 450;
        font-size: min(calc(var(--main-header-bar-height) * 0.5), 15px);
    }

    #menu-button,
    .menu-button-hamburger,
    .menu-button-hamburger::before,
    .menu-button-hamburger::after  {
        display: none;
    }
}



@media (min-width: 320px ) and (max-width: 779.98px) {    /* 320px < Width-Size < 780px */

    #main-header-bar {
        grid-template-columns:   var(--logo-width)   calc(100% - var(--logo-width) - var(--searchbar-width) - var(--main-header-bar-height) - 60px)   var(--searchbar-width)   var(--main-header-bar-height);
        gap: 20px;
    }

    #main-header-bar > :nth-child(5n) {
        justify-self: center;
    }

    #header-nav-container{
        visibility: 0;
    }

    #header-nav-container > a,
    .main-header-logo-text {
        display: none;
    }

    #menu-button {
        display: grid;
    }
}




@media (max-width: 319.98px ) {                            /* Width-Size < 320px */

    #main-header-bar {
        grid-template-columns: var(--logo-width) calc(100% - var(--logo-width   ) - var(--main-header-bar-height)) var(--main-header-bar-height);
        gap: 0;
    }

    #main-header-bar > :nth-child(5n) {
        justify-self: center;
    }

    #header-nav-container{
        visibility: 0;
    }

    #header-nav-container > a,
    .main-header-logo-text,
    #searchbar {
        display: none;
        
    }

    #menu-button {
        display: grid;
    }
}