:root {
    --header-height: 55px;      /* Sets the height of header */
    --main-header-bar-height: min(calc(var(--header-height) * 0.7), 40px);      /* Sets the height of the elements in the header. <= 1 */
    --logo-width: calc(var(--main-header-bar-height) * (800/536));      /* The width of the logo, can't be edited */
    --searchbar-height: calc(var(--main-header-bar-height) * 0.85);     /* Sets the height of searchbar. <= 1 */
    --menu-button-length: calc(var(--main-header-bar-height) * 0.7);        /* Sets the width and height of the hamburger menu. <= 1 */
    --dropdown-menu-width: 40vw;        /* Sets the width of the dropdown menu. */
    --dropdown-element-width: calc(var(--dropdown-menu-width) * 0.8);       /* Sets the width of the elements in dropdown menu. <= 1 */
    --dropdown-menu-height: 55px;       /* Sets the height of each element in dropdown menu. <= 1 */
    --searchbar2-height: calc(var(--dropdown-menu-height) * 0.7)        /* Sets the height of searchbar2. <= 1 */
}



#main-header {  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    align-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: white;
    will-change: transform;

}

#main-header::after {     /* Header Gradient */
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: calc(var(--main-header-bar-height) * 0.4);
    top: var(--header-height);
  
    background: linear-gradient( to bottom,
      rgba(0, 0, 0, 0.159) 0%,
      rgba(0, 0, 0, 0) 95%
    );
  }

#main-header-bar {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--main-header-bar-height);
}

.main-header-logo  {
    height: var(--main-header-bar-height);
    aspect-ratio: 800/536;
    width: var(--logo-width);
    place-self: center;
    transition: 0.3s ease-in-out;
}

.main-header-logo:hover {
    transform: scale(1.05);
}

.main-header-logo:active {
    transform: scale(1);
}

button {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    will-change: transform;
    text-decoration: none;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

#header-nav-container button:hover {
    transform: scale(1.1);
}

#header-nav-container button:active {
    transform: scale(1);
}



/* Searchbar */

    #searchbar {
        display: grid;
        box-sizing: border-box;
        height: 100%;
        background-color: #e20612;
        border-radius: 1000px;
        grid-template-columns: var(--searchbar-height) 1fr;
        justify-self: right;
        justify-items: center;
        align-items: center;
        transition: width 0.5s ease-in-out;
    }

    .searchbar-expanded {
        width: clamp( calc(var(--header-height) * 1), 100%, 450px);
    }
    
    .searchbar-retracted {
        width: calc(var(--header-height) * 1.75);
    }

    #searchbar-icon-button {
        height: calc(var(--searchbar-height) * 0.6);
        width: calc(var(--searchbar-height) * 0.6);
        align-items: center;
    }

    .search-icon {
        position: relative;
        height: 90%;
        width: 90%;
        padding: 5%;
        transition:  0.3s ease-in-out;
    }

    .search-icon:hover {
        transform: scale(1.2);
    }

    .search-icon:active {
        transform: scale(1);
    }

    #searchbar-input {
        position: relative;
        width: calc(100% - (var(--searchbar-height) * 0.4) - (var(--searchbar-height) * 0.2));
        margin-left: calc(var(--searchbar-height) * 0.2);
        margin-right: calc(var(--searchbar-height) * 0.4);
        height: var(--searchbar-height);
        padding: 0;
        background-color: transparent;
        color: white;
        border: none;
        outline: none;
    }

    #searchbar-input::placeholder {
        color: white;
        opacity: 1;
    }



/* Menu button */

    #menu-button {
        display: grid;
        align-items: center;
        justify-self: center;
        height: var(--menu-button-length);
        width: var(--menu-button-length);
        cursor: pointer;
        transition: 0.3s ease-in-out;
        will-change: transform;
        transform: scale(1);
    }

    #menu-button:hover {
        transform: scale(1.1);
    }

    .menu-button-hamburger {
        position: relative;
        justify-self: center;
        width: var(--menu-button-length);
        height: calc(var(--menu-button-length) * 0.16);
        cursor: pointer;
        background-color: black;
        border-radius: 1000px;
        transition: 0.3s ease-in-out;
    }

    .menu-button-hamburger::before,
    .menu-button-hamburger::after {
        content:'';
        position: absolute;
        width: var(--menu-button-length);
        height: calc(var(--menu-button-length) * 0.16);
        cursor: pointer;
        background-color: black;
        border-radius: 1000px;
        transition: 0.3s ease-in-out;
    }

    .menu-button-hamburger::before {
        transform: translateY(calc(var(--menu-button-length) / -2.5));
        transition: 0.3s ease-in-out;
    }

    .menu-button-hamburger::after {
        transform: translateY(calc(var(--menu-button-length) / 2.5));
        transition: 0.3s ease-in-out;
    }


    /* Menu Button Aniamation */
    .menu-button-open > .menu-button-hamburger {
        transform: translateX(calc(var(--main-header-bar-height) * -0.9));
        cursor: default;
        background: transparent;
        box-shadow: none;
    }

    .menu-button-open > .menu-button-hamburger::before {
        transform: translateX(calc(var(--main-header-bar-height) * 0.9)) rotate(45deg);
    }

    .menu-button-open > .menu-button-hamburger::after {
        transform: translateX(calc(var(--main-header-bar-height) * 0.9)) rotate(-45deg);
    }



/* Basket */

    #basket-container {
        position: relative;
        align-items: center;
        justify-self: center;
        display: grid;
        height: var(--main-header-bar-height);
        width: var(--basket-width);
        background-color: #e20612;
        border-radius: 10000px;
        grid-template-columns: calc(var(--main-header-bar-height) * 0.7) 1fr;
        gap: calc(var(--main-header-bar-height) * 0.1);
        transition: 0.4s ease-in-out;
    }

    .basket-open  #basket-container {
        grid-template-columns: calc(var(--main-header-bar-height) * 0.7) 1fr ;
    }

    .basket-closed  #basket-container {
        grid-template-columns: 1fr ;
    }

    #basket { 
        justify-self: left;
        transform: translateX(25%);
    }

    .basket-open  #basket {
        height: calc(var(--main-header-bar-height) * 0.5);
        width: calc(var(--main-header-bar-height) * 0.5); 
    }

    .basket-closed  #basket {
        height: calc(var(--main-header-bar-height) * 0.6);
        width: calc(var(--main-header-bar-height) * 0.6); 
    }


    #basket-value {
        justify-self: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: calc(var(--main-header-bar-height) * 0.4);
        color: white;
    }

    .basket-open  #basket-value {
        display: inline-block;
    }

    .basket-closed  #basket-value {
        display: none;
    }


    .basket-icon {
        height: 100%;
        width: 100%;
        transition: 0.3s ease-in-out;        
    }

    .basket-icon:hover {
        transform: scale(1.2);
    }

    .basket-icon:active {
        transform: scale(1);
    }



/* Container */

    #container {
        --basket-width: calc(var(--main-header-bar-height) * 1);
        display: grid;
        position: relative;
        align-items: right;
        width: 100%;
        gap: calc(var(--main-header-bar-height) * 0.3);
    }

    #container.basket-open {
        --basket-width: calc(var(--main-header-bar-height) * 2.5);
    }

    #container.basket-closed {
        --basket-width: calc(var(--main-header-bar-height) * 1);
    }



/* Dropdown Menu */

    #dropdown-menu {
        position: fixed;
        box-sizing: border-box;
        top: var(--header-height);
        right: 0;
        height: calc(100vh - var(--header-height));
        padding: 0 30px;
        padding-top: 25px;
        background-color: white;
        will-change: transform;
        overflow: auto;
        text-align: center;
    }

    #dropdown-gradient {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 60px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    background: linear-gradient(to top,
        rgba(0, 0, 0, 0.26) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    }

    #dropdown-gradient.dropdown-gradient-open {
    opacity: 1;
    }

    #dropdown-menu.dropdown-menu-shown {
        transition: transform 0.5s ease-in-out;
        transform: translateX(0);
    }
    #dropdown-menu.dropdown-menu-hidden {
        transition: transform 0.25s ease-in-out;
        transform: translateX(100%);
    }



    /* Logo */
    .dropdown-logo {
        width: 150px;
        height: auto;
        margin-top: calc(var(--searchbar2-height) * 0.4);
    }



    /* Dropdown Container */
    #dropdown-container h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-self: right;
        margin: 20px 0;
    }


    /* Dropdown Nav Container */
    #dropdown-nav-container {
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        gap: 20px;
        justify-items: right;
    }

    #dropdown-nav-container > button {
        display: inline-flex;
        font-size: 17px;        
    }

    #dropdown-nav-container > button:hover {
        transform: scale(1.05);
    }

    #dropdown-nav-container > button:active {
        transform: scale(1);
    }



    /* Searchbar */
    #searchbar2 {
        display: grid;
        box-sizing: border-box;
        height: var(--searchbar2-height);
        background-color: #e20612;
        border-radius: 1000px;
        grid-template-columns: var(--searchbar2-height) 1fr;
        justify-items: center;
        align-items: center;
    }

    #searchbar-icon-button2 {
        height: calc(var(--searchbar2-height) * 0.6);
        width: calc(var(--searchbar2-height) * 0.6);
        align-items: center;
    }

    .search-icon2 {
        position: relative;
        height: 90%;
        width: 90%;
        padding: 5%;
        transition:  0.3s ease-in-out;
    }

    .search-icon2:hover {
        transform: scale(1.2);
    }

    .search-icon2:active {
        transform: scale(1);
    }

    #searchbar-input2 {
        position: relative;
        width: calc(100% - (var(--searchbar2-height) * 0.4) - (var(--searchbar2-height) * 0.2));
        margin-left: calc(var(--searchbar2-height) * 0.2);
        margin-right: calc(var(--searchbar2-height) * 0.4);
        height: var(--searchbar2-height);
        padding: 0;
        background-color: transparent;
        color: white;
        border: none;
        outline: none;
    }

    #searchbar-input2::placeholder {
        color: white;
        opacity: 1;
    }



/* Dropdown Shadow */

    #dropdown-shadow {
        display: block;
        position: fixed;
        top: var(--header-height);
        left: 0;
        height: calc(100vh - var(--header-height));
        width: 100vw;
        opacity: 0;

        background: linear-gradient( to right,
        rgba(0, 0, 0, 0.067) 0%,
        rgba(0, 0, 0, 0.432) calc(100vw - var(--dropdown-menu-width)),
        rgba(0, 0, 0, 0.067) 100%
        );
    }

    #dropdown-shadow.dropdown-menu-shown {
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }
    #dropdown-shadow.dropdown-menu-hidden {
        transition: opacity 0.25s ease-in-out;
        opacity: 0;
    }





@media (min-width: 865px) {                             /* Width-Size > 865px */
               
    #main-header-bar {
        grid-template-columns: var(--main-header-bar-height)  var(--logo-width)   auto   1fr;
        gap: calc(var(--main-header-bar-height) * 0.4);
    }
  
    #header-nav-container {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: calc(var(--main-header-bar-height) * 0.4);
        height: 60%;
    }

    #header-nav-container > a {
        display: inline-flex;
        text-align: center;
        align-items: center;
        font-size: min(calc(var(--main-header-bar-height) * 0.5), 15px);
    }

    #container {
        grid-template-columns: 1fr auto;
    }

    #dropdown-menu {
        width: var(--dropdown-menu-width);
    }

    #dropdown-gradient {
        width: var(--dropdown-menu-width);
    }
}



@media (min-width: 385px ) and (max-width: 864.98px) {    /* 385px < Width-Size < 865px */

    #main-header-bar {
        grid-template-columns: var(--main-header-bar-height)  var(--logo-width)  1fr;
        gap: calc(var(--main-header-bar-height) * 0.4);
        grid-template-areas: "menu logo container";
    }

    #header-nav-container {
        display: none;
    }

    #menu-button {
        grid-area: menu;
    }

    #main-header-logo {
        display: grid;
        grid-area: logo;
    }

    #container {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-area: container;
    }

    #searchbar {
        display: grid;
    }

    #basket-container {
        display: grid;
    }

    @media (min-width: 499.98px) {
        #dropdown-menu {
            width: var(--dropdown-menu-width);
        }

        #dropdown-gradient {
            width: var(--dropdown-menu-width);
        }
    }
    
    @media (max-width: 500px) {
        #dropdown-menu {
            width: 100vw;
        }

        #dropdown-gradient {
            left: 0;
            right: 0;
            width: 100vw;
        }
    }
}




@media (max-width: 384.98px ) {                            /* Width-Size < 385px */

    #main-header-bar {
        grid-template-columns: var(--main-header-bar-height) var(--logo-width) 1fr;
        grid-template-areas: "menu logo container";
        gap: calc(var(--main-header-bar-height) * 0.4);
    }

    #header-nav-container {
        display: none;
    }

    #menu-button {
        grid-area: menu;
    }

    #main-header-logo {
        display: grid;
        grid-area: logo;
    }

    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-area: container;
    }

    #searchbar {
        display: none;
    }

    #basket-container {
        display: grid;
        justify-self: right;
    }

    #dropdown-menu {
        left: 0;
        right: 0;
    }

    #dropdown-gradient {
        left: 0;
        right: 0;
        width: 100vw;
    }
}