:root {
    --header-height: 55px;
    --header-background-color: rgb(255, 255, 255);
    --main-header-bar-height: min(calc(var(--header-height) * 0.7), 40px);
    --logo-width: calc(var(--main-header-bar-height) * (800/536));
    --searchbar-height: calc(var(--main-header-bar-height) * 0.85);
    --menu-button-length: calc(var(--main-header-bar-height) * 0.7);
    --dropdown-menu-width: clamp(20px, 30vw, 200px);
}


#main-header {  
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: var(--header-height);
    align-content: center;
    padding: 0 20px;
    background-color: var(--header-background-color);
    transform: translateY(0);
    will-change: transform;
}

#main-header::after {     /* Header Gradient */
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: calc(var(--main-header-bar-height) * 0.4);
    top: var(--header-height);
  
    background: linear-gradient( to bottom,
      rgba(0, 0, 0, 0.159) 0%,
      rgba(0, 0, 0, 0) 95%
    );
  }

#main-header-bar {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--main-header-bar-height);
}

.main-header-logo  {
    height: var(--main-header-bar-height);
    aspect-ratio: 800/536;
    width: var(--logo-width);
    place-self: center;
}

button {
    background-color: transparent;
    padding: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
}



/* Searchbar */

    #searchbar {
        display: grid;
        box-sizing: border-box;
        height: 100%;
        background-color: #e20612;
        border-radius: 1000px;
        grid-template-columns: var(--searchbar-height) 1fr;
        justify-self: right;
        justify-items: center;
        align-items: center;
        transition: width 0.5s;
    }

    .searchbar-expanded {
        width: clamp( calc(var(--header-height) * 2.5), 100%, 300px);
    }
    
    .searchbar-retracted {
        width: calc(var(--header-height) * 1.5);
    }

    #searchbar-icon-button {
        height: calc(var(--searchbar-height) * 0.6);
        width: calc(var(--searchbar-height) * 0.6);
        align-items: center;
    }

    .search-icon {
        position: relative;
        height: 90%;
        width: 90%;
        padding: 5%;
    }

    #searchbar-input {
        position: relative;
        width: calc(100% - (var(--searchbar-height) * 0.4) - (var(--searchbar-height) * 0.2));
        margin-left: calc(var(--searchbar-height) * 0.2);
        margin-right: calc(var(--searchbar-height) * 0.4);
        height: var(--searchbar-height);
        padding: 0;
        background-color: transparent;
        color: white;
        border: none;
        outline: none;
    }

    #searchbar-input::placeholder {
        color: white;
        opacity: 1;
    }



/* Menu button */

    #menu-button {
        display: none;
        align-items: center;
        justify-self: center;
        height: var(--menu-button-length);
        width: var(--menu-button-length);
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    .menu-button-hamburger {
        justify-self: center;
        width: var(--menu-button-length);
        height: calc(var(--menu-button-length) * 0.16);
        cursor: pointer;
        background-color: black;
        border-radius: 1000px;
        transition: 0.3s ease-in-out;
    }

    .menu-button-hamburger::before,
    .menu-button-hamburger::after {
        content:'';
        position: absolute;
        width: var(--menu-button-length);
        height: calc(var(--menu-button-length) * 0.16);
        cursor: pointer;
        background-color: black;
        border-radius: 1000px;
        transition: 0.3s ease-in-out;
    }

    .menu-button-hamburger::before {
        transform: translateY(calc(var(--menu-button-length) / -2.5));
    }

    .menu-button-hamburger::after {
        transform: translateY(calc(var(--menu-button-length) / 2.5));
    }


    /* Menu Button Aniamation */
    .menu-button-open > .menu-button-hamburger {
        transform: translateX(calc(var(--main-header-bar-height) * 0.9));
        cursor: default;
        background: transparent;
        box-shadow: none;
    }

    .menu-button-open > .menu-button-hamburger::before {
        transform: translateX(calc(var(--main-header-bar-height) * -0.9)) rotate(45deg);
    }

    .menu-button-open > .menu-button-hamburger::after {
        transform: translateX(calc(var(--main-header-bar-height) * -0.9)) rotate(-45deg);
    }



/* Dropdown Menu */

    #dropdown-menu{
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: var(--dropdown-menu-width);
        height: 300px;
        background-color: var(--header-background-color);
        transition: transform 0.5s ease-in-out;
        will-change: transform;
    }

    .dropdown-menu-shown {
        transform: translateX(0);
    }
    .dropdown-menu-hidden {
        transform: translateX(100%);
    }






@media (min-width: 835px) {                             /* Width-Size > 835px */
               
    #main-header-bar {
        grid-template-columns:   var(--logo-width)   auto   1fr;
        gap: calc(var(--main-header-bar-height) * 0.8);
    }
  
    #header-nav-container {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: calc(var(--main-header-bar-height) * 0.4);
        height: 60%;
    }

    #header-nav-container > button {
        display: inline-flex;
        text-align: center;
        align-items: center;
        text-decoration: none;
        color: black;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 450;
        font-size: min(calc(var(--main-header-bar-height) * 0.5), 15px);
    }

    #menu-button,
    .menu-button-hamburger,
    .menu-button-hamburger::before,
    .menu-button-hamburger::after  {
        display: none;
    }
}



@media (min-width: 360px ) and (max-width: 834.98px) {    /* 360px < Width-Size < 780px */

    #main-header-bar {
        grid-template-columns:   var(--logo-width)  0  1fr   var(--main-header-bar-height);
        gap: calc(var(--main-header-bar-height) * 0.4);
    }

    #main-header-bar > :nth-child(5n) {
        justify-self: center;
    }

    #header-nav-container{
        visibility: hidden;
    }

    #header-nav-container > button {
        display: none;
    }

    #menu-button {
        display: grid;
    }
}




@media (max-width: 359.98px ) {                            /* Width-Size < 360px */

    #main-header-bar {
        grid-template-columns: var(--logo-width) 1fr var(--main-header-bar-height);
        gap: 0;
    }

    #header-nav-container{
        visibility: 0;
    }

    #header-nav-container > button,
    #searchbar {
        display: none;
        
    }

    #menu-button {
        display: grid;
    }
}