@import url("header.css");


body {
    background-color: rgb(255, 247, 235);
    margin: 0;
    padding: 0;
}

body.no-scroll {
    overflow: hidden;
    touch-action: none;
}

main {
    display: grid;
    margin-top: var(--header-height);
    margin-left: clamp(15px, 20vw, 100px);
    margin-right: clamp(15px, 20vw, 100px);
}