@import url("header.css");


body.no-scroll {
    overflow: hidden;
    touch-action: none;
}

main {
    display: grid;
    margin-top: var(--header-height);
    margin-left: clamp(15px, 20vw, 100px);
    margin-right: clamp(15px, 20vw, 100px);
}