@import url("header.css");

body {
    background-color: rgb(255, 247, 235);
    margin: 0;
    height: 200vh;
}

button {
    background-color:rgba(255, 255, 255, 0);
    padding: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
}